<header>
    <nav>
        <div class="nav-container">
            <h1 class="title">Alb<img class="title-image" src=/images/icon.png>tross</h1>
            <div class="nav-links">
                <div class="inline-block relative flex-column mg1" x-data="{ open: false }">
                    <p @click="open = !open" class="focus:outline-none shadow cursor-pointer inline-block text-gray-700 hover:text-black flex border border-gray-400 rounded p-2 pl-3 pr-1 bg-gray-100">
                      <a href="/">Home</a>
                    </p>
                </div>

                <div class="inline-block relative flex-column mg1" x-data="{ open: false }">
                    <p @click="open = !open" class="focus:outline-none shadow cursor-pointer inline-block text-gray-700 hover:text-black flex border border-gray-400 rounded p-2 pl-3 pr-1 bg-gray-100">
                      Courses
                    </p>
                    <div x-show="open" @click.away="open = false" class="dropdown-items bg-ltgray absolute mg-5 mt-2 shadow rounded mg-2" >
                        <p><a href="/mycourses" class="tx-black block hover:bg-indigo-100">View All</a></p>
                        <p><a href="/mycourses?filter=user" class="tx-black block hover:bg-indigo-100">My Courses</a></p>
                        <p><a href="/mycourses?filter=public" class="tx-black border-b block hover:bg-indigo-100">Public Courses</a>
                        <p><a href="/mycourses/new" class="tx-black block hover:bg-indigo-100">Create Course</a></p>
                    </div>
                </div>

                <div class="inline-block relative flex-column mg1" x-data="{ open: false }">
                    <p @click="open = !open" class="focus:outline-none shadow cursor-pointer inline-block text-gray-700 hover:text-black flex border border-gray-400 rounded p-2 pl-3 pr-1 bg-gray-100">
                      Games
                    </p>
                    <div x-show="open" @click.away="open = false" class="dropdown-items bg-ltgray absolute mg-5 mt-2 shadow rounded mg-2" >
                        <p><a href="/game" class="tx-black block hover:bg-indigo-100">View All</a></p>
                        <p><a href="/game?filter=inprogress" class="tx-black block hover:bg-indigo-100">In Progress</a></p>
                        <p><a href="/game?filter=complete" class="tx-black border-b block hover:bg-indigo-100">Completed</a>
                        <p><a href="/game/new" class="tx-black block hover:bg-indigo-100">New Game</a></p>
                    </div>
                </div>
                  
                <div class="inline-block relative flex-column mg1" x-data="{ open: false }">
                    <p @click="open = !open" class="focus:outline-none shadow cursor-pointer inline-block text-gray-700 hover:text-black flex border border-gray-400 rounded p-2 pl-3 pr-1 bg-gray-100">
                      <a href="/">Logout</a>
                    </p>
                </div>            
            </div>
        </div>
    </nav>
</header>

