<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <div class="padding-2-5 whitesmoke">
    <form class="width-75 padding-lt-2" action="/mycourses" method="POST">
        <fieldset class=white>
            <legend>New Course</legend>

            <table class="table-5-15">
                <tr>
                    <td><label class="" for="title">Course Name</label></td>
                    <td><input class="" type="text" name="title" id="title"></td>
                </tr>
                <tr>
                    <td><label class="" for="type">Type</label></td>
                    <td><select name="type" id="type">
                        <option value="" disabled selected hidden>Choose a type</option>
                        <option value="Traditional Golf">Traditional Golf</option>
                        <option value="Putt Putt">Putt Putt</option>
                        <option value="Disc Golf">Disc Golf</option>
                    </select</td>
                </tr>
                <tr>
                    <td><label for="holes">Holes</label></td>
                    <td><input class= type="number" name="holes" id="holes"></td>
                </tr>
                <tr>
                    <td><label for="location">Location</label></td>
                    <td><input type="text" name="location" id="location"></td>
                </tr>
                <tr>
                    <td><label for="public">Share?</label></td>
                    <td><input type="checkbox" name="isPublic" id="public"></td>
                </tr>
            </table>
            <input type="hidden" name="createdBy">
            <input type="submit" value="Create Course">
        </fieldset>   
    </form>
</div>
    <%- include("../partials/footer.ejs") %>
</body>
</html>